@font-face {
  font-family: norse;
  src: url(img/Norse-Bold.otf);
}

html{
  overflow: hidden;
}


body{
  display: flex;
  height: 100vh;
  gap: 0px;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.imageContainer img{
  height: 100vh;
  
}

.imageContainer{
  display: flex;  
  justify-content: center;
  height: 100vw;
}

.logo{
  display: flex;
  position: absolute;
  font-family: norse;
  font-size: 10vw;
  opacity: 0.70;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: black;
  top: 20vh;
  padding: 10px;
  flex: 1;
  
}

.logo img {
  height: 20vh;
  
}

.footerImage{
  position: absolute;
  color: white;
  bottom: 2vh;

}

a{
  color: white;
  font-weight: bolder;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.message p{
  display: flex;
  flex-direction: column;
  flex:1;
  background-color: #f0eded ;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2vw 0vw 2vw 3vw;
  font-weight: bold;
  font-size: 1.5vw;
  width: 50vw;

}

.createAccount{
  display: flex;
  flex:1;
  background-color:  #f0eded  ;
  align-items: center;
  justify-content: flex-start;
  padding: 3vw;

}

.formContainer{
  display:flex;
  flex-direction: column;
  flex:1;
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3vh;
  padding: 2vh 20vw 6vh 3vw;
  width: 50vw;

}

.row{
  display:flex;
  justify-content: space-between;
  
  gap: 5vh;

}

.item{
  display:flex;
  flex-direction: column;

}

.container{
  background-color: #f0eded ;
  width: 70vw;
}

.bolder{
  font-weight: bolder;
  margin: 0px;
}

label{
  font-size: 1vw;
}

button{
  border-radius: 10px;
  height: 6vh;
  width: 13vw;
  font-size: 1vw;
  background-color: #596D48;
  border: 1px solid #596D48;
  color: white;
  font-weight: bold;
  box-shadow: #596D48;
}

button:hover{
  cursor: pointer;
}

input{
  border: 1px solid #E5E7EB;
  border-radius: 3px;
}

#passwordConfirmation:invalid, 
#password:invalid{
  border: 1px solid red;
}

input:focus{
  outline: 1px solid rgb(58, 147, 231);
  border: 1px solid rgb(58, 147, 231);

}

.ok{
  outline: 1px solid green;
  border: 1px solid green;
}
.error{
  border: 1px solid red;
}

.errorLabel{
  color: red;
  font-size: 0.8vw;
}

